{% extends 'dashboard.html.twig' %}

{% block title %}Nova aplicação
{% endblock %}

{% block body %}

    <!-- Begin Page Content -->
    <div
            class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Editar investimento</h1>
            <a href="{{ path('app_adm_investment_lista') }}" class="btn btn-sm btn-outline-secondary">
                <i class="fas fa-reply fa-fw mr-2 text-gray-400"></i> Voltar a lista
            </a>
        </div>


        <div class="row">

            <div class="col-lg-12">
                <form action="{{ path('app_adm_applications_lista_nova') }}" method="post">
                    <div class="row">
                        <div class="col-md-8 ps-0 ms-0">
                            <div class="card shadow mb-4 ms-0">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Informações das aplicações</h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <input type="text" class="form-control" name="value"
                                                   placeholder="Valor do investimento" value="{{ investiment.value }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <label for="userId">Selecione o Cliente</label>
                                            <select name="userId" id="userId" class="form-select-sm form-control">
                                                <option value="">Selecione um cliente</option>
                                                {% for user in users %}
                                                    <option {% if user.id == investiment.userId %} selected {% endif %}
                                                            value="{{ user.id }}">{{ user.name }}
                                                        {{ user.lastname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card shadow mb-4 ms-0">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Dados adicionais</h6>
                                </div>
                                <div class="card-body">

                                    <div class="form-group">
                                        <div class="form-row">
                                            <input name="data_aport"
                                                   data-role="tagsinput" placeholder="Selecione os ativos"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-row">
                                            <label for="status">Status</label>
                                            <select name="status" id="status" class="form-control">
                                                <option value="Inativo">Inativo</option>
                                                <option value="Ativo">Ativo</option>
                                                <option value="Suspenso">Suspenso</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <div class="form-group">
                                        <div class="form-row">
                                            <button class="btn btn-success btn-block">
                                                <i class="fa fa-save"></i>
                                                Salvar
                                                alterações
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


        </div>

    </div>
    <!-- /.container-fluid -->


{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $(".data_aport").tagsinput('add', { "value": 1 , "text": "jQuery"});

            $(function () {
                $('form').on('submit', function () {

                    $.ajax({
                        data: $(this).serialize(),
                        url: $(this).attr('action'),
                        type: 'post',
                        dataType: 'json',
                        success: function (result) {
                            console.log(
                                result
                            )
                        }
                    });
                    return false;
                });
            });
            $('.datepicker').datepicker({
                days: [
                    "Domingo",
                    "Segunda",
                    "Terça",
                    "Quarta",
                    "Quinta",
                    "Sexta",
                    "Sábado"
                ],
                daysShort: [
                    "Dom",
                    "Seg",
                    "Ter",
                    "Qua",
                    "Qui",
                    "Sex",
                    "Sáb"
                ],
                daysMin: [
                    "Do",
                    "Se",
                    "Te",
                    "Qu",
                    "Qu",
                    "Se",
                    "Sa"
                ],
                months: [
                    "Janeiro",
                    "Fevereiro",
                    "Março",
                    "Abril",
                    "Maio",
                    "Junho",
                    "Julho",
                    "Agosto",
                    "Setembro",
                    "Outubro",
                    "Novembro",
                    "Dezembro"
                ],
                monthsShort: [
                    "Jan",
                    "Fev",
                    "Mar",
                    "Abr",
                    "Mai",
                    "Jun",
                    "Jul",
                    "Ago",
                    "Set",
                    "Out",
                    "Nov",
                    "Dez"
                ],
                today: "Hoje",
                monthsTitle: "Meses",
                clear: "Limpar",
                format: "dd/mm/yyyy"
            });
        });
    </script>
{% endblock %}
